body{
    font-family: 'Zen Old Mincho', serif;
}
/*Titolo*/
.titolo{
    background-image: url("../img/pattern.png"), url("../img/logo.svg");
    background-repeat: repeat,no-repeat;
    background-size: auto, 200px;
    background-position-x: left;
    background-position-y: bottom;
    background-color: royalblue;
    width: auto; 
    height: 180px;
    width: 1080px;
    font-weight: 300;
}
.nobor{
    margin: 0px;
}
.white{
    color: white;
}
.grey{
    color: slategray;
}
.blue{
    color: skyblue;
}

/*Tabella*/
.table{
    margin: 0px;
}
.tab{
    background-color: #00aeff ;
}
.tabdis{
    background-color: rgb(123, 234, 253);
}

/*Sotto Tabella*/
.sottolineato{
    background-color: yellow;
}

/*Correlati*/
.container{
    position: relative;
    color: white;
}
.testo{
    position: absolute;
    top: 0px;
}